body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #228b22;
    color: #ecfaec;
    text-align: center;
    vertical-align: auto;
    margin: 0;
    padding: 10px;
}

a {
    color: #228b22;
}

a:hover {
    color: #0f3c0f;
}

.bear-photo {
    display: flex;
    max-width: 100%;
}

figcaption {
    text-align: center;
}

