body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #228b22;
    color: #ecfaec;
    text-align: center;
    vertical-align: auto;
    margin: 0;
    padding: 10px;
}

h1 a {
    color: #ecfaec;
}

h2 {
    padding-top: 15px;
}

.link {
    color: #228b22;
    text-decoration: underline;
}

.link:hover {
    color: #0f3c0f;
    text-decoration: none;
}

.bear-photo {
    display: flex;
    max-width: 100%;
}

figcaption {
    text-align: center;
}

